/* src/components/FileGallery.css */

.file-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px; /* Increased from 50px to 800px */
  margin: 20px auto;
  text-align: center;
}

.file-item {
  margin: 10px;
}

.file-image {
  width: 200px; /* Set desired width */
  height: 200px; /* Set desired height */
  object-fit: cover;
  border-radius: 8px;
}

.file-name {
  margin-top: 5px;
  font-size: 1rem;
  color: #333;
}